<kt-portlet [ngClass]="'kt-portlet--ngviewer'">

	<kt-portlet-header [title]="title">
		<ng-container ktPortletTools>
			<!-- <ul class="kt-portlet__nav">
				<li class="kt-portlet__nav-item">
					<a href="javascript:;" *ngIf="hasExampleSource()" (click)="changeCodeVisibility()" class="kt-portlet__nav-link kt-portlet__nav-link--icon"
						title="View Source">
						<i class="la la-code"></i>
					</a>
				</li>
			</ul> -->
			<div class="kt-portlet__head-group" *ngIf="viewItem?.logo">
				<img class="preview-img" src="{{'../../../../../../assets/img/Dummy-Person.png'}}" alt="">
			</div>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body *ngIf="viewItem">
		<div *ngIf="(hasExampleSource)" class="kt-portlet__preview kt-portlet__code"
			[ngClass]="{'kt-portlet__code--show' : viewItem.isCodeVisible}">
			<mat-grid-list cols="2" rowHeight="60px">
				<mat-grid-tile *ngFor="let item of headers">
					<div class="col-5 header">
						{{item}} :
					</div>
					<div class="col-7">
						{{ (item == 'name' || item == 'description' || item == 'nationality' || item == 'types'|| item
						== 'slug') ?
						toLang(viewItem[item], item) : viewItem[item] || '---' }}
					</div>

				</mat-grid-tile>
			</mat-grid-list>
		</div>

	</kt-portlet-body>

	<kt-portlet-footer></kt-portlet-footer>
</kt-portlet>
