<div class="col-12 my-4">
	<div class="row">
		<div class="col-md-3">
			<div class="kt-portlet__head-label">
				<h4 class="kt-portlet__head-title ng-star-inserted">{{HeaderTitle}}</h4>
			</div>
		</div>
		<!--Search Filter-->
		<div class="col-md-7">
			<form class="d-flex justify-content-between align-items-center">
				<section *ngIf="HasSearchFilter" [ngClass]="{'col-xl-5 col-sm-4':HasExport, 'col-sm-6' :!HasExport }">
					<label class="w-100 d-flex align-items-center">
						<mat-icon class="seach_icon mr-2">search</mat-icon>
						<input matInput name="filter_Position" [(ngModel)]='search_filter'
							(keyup)="FilterDataTable($event.target.value)"
							placeholder="{{ 'Components.Search' | translate }}">
					</label>
				</section>

				<section *ngIf="HasActive == true">
						<mat-radio-button class="px-5" name="active"
							[checked]="headerParams.active == null" (click)="toggleStatus(null)">&nbsp; <span
								[translate]="'Components.all'"></span>
						</mat-radio-button>
						<mat-radio-button class="px-4" name="active"
							[checked]="headerParams.active == 1" (click)="toggleStatus(1)">&nbsp;<span
								[translate]="'Components.active'"></span>
						</mat-radio-button>
						<mat-radio-button class="px-4" name="active"
							[checked]="headerParams.active == 0" (click)="toggleStatus(0)">&nbsp;<span
								[translate]="'Components.is_active'"></span>
						</mat-radio-button>
				</section>
			</form>
		</div>

		<!-- Select Number of item Per Page -->
		<!-- <mat-form-field *ngIf="HasItemPerPage" class="filter-height">
				<mat-label [translate]="'Components.item_per_page'"></mat-label>
				<mat-select (selectionChange)="perPageChange()" [(ngModel)]="headerParams.per_page">
					<mat-option [value]="10">
						{{ '10 ' }} <span [translate]="'Components.items'"></span>
					</mat-option>
					<mat-option [value]="25">
						{{ '25 ' }} <span [translate]="'Components.items'"></span>
					</mat-option>
					<mat-option [value]="50">
						{{ '50 ' }} <span [translate]="'Components.items'"></span>
					</mat-option>
					<mat-option [value]="75">
						{{ '75 ' }} <span [translate]="'Components.items'"></span>
					</mat-option>
					<mat-option [value]="100">
						{{ '100 ' }} <span [translate]="'Components.items'"></span>
					</mat-option>
				</mat-select>
			</mat-form-field> -->

		<div class="col-md-2 d-flex justify-content-end">
			<!--Add New Item Button-->
			<a [routerLink]="'add'" [queryParams]="AddBtnParam ? AddBtnParam : null">
				<button mat-raised-button color="primary">{{ 'MENU.ADD_NEW' | translate }}
				</button>
			</a>
			<section class="px-3" *ngIf="HasExport">
				<button mat-mini-fab matTooltip="{{ 'Components.export' | translate }}" color="primary"
					(click)="export()">
					<mat-icon class="flaticon2-download">
					</mat-icon>
				</button>
			</section>
		</div>
	</div>
	<mat-divider class="my-2" *ngIf="HasSearchFilter || HasActive"></mat-divider>
</div>
