.filter-height {
	height: 45px !important;
}

.search-box {
	position: relative;

	i {
		position: absolute;
		top: 14px;
		left: 15px;
		font-size: 15px;
		color: darkgray;
	}

	.mat-input-element {
		padding: 0 42px !important;
	}
}

button.btn {
	font-weight: 400 !important;
}

.seach_icon {
	font-size: 2rem !important;
}
