<p>form works!</p>
<div [formGroup]="form">

	<div class="row">
		<div class="col-md-6 mx-0 my-3">
			<kt-form-input [form]="form" [label]="'COMMON.name_en' | translate"
				[placeholder]="'COMMON.name_en' | translate" [title]="'COMMON.name_en' | translate"
				[example_label]="'COMMON.name_en' | translate" [validation_type]="'required'"
				[form_control_name]="'name_en'">
			</kt-form-input>
		</div>

		<div class="col-md-6 mx-0 my-3">
			<kt-form-input [form]="form" [label]="'COMMON.name_ar' | translate"
				[placeholder]="'COMMON.name_ar' | translate" [title]="'COMMON.name_ar' | translate"
				[example_label]="'COMMON.name_ar' | translate" [validation_type]="'required'"
				[form_control_name]="'name_ar'">
			</kt-form-input>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 mx-0 my-3">
			<kt-form-input [form]="form" [label]="'FORMS.key' | translate" [placeholder]="'FORMS.key' | translate"
				[title]="'FORMS.key' | translate" [example_label]="'FORMS.key' | translate"
				[validation_type]="'required'" [form_control_name]="'key'">
			</kt-form-input>
		</div>

		<!--is_required -->
		<div class="col-md-6 row mx-0 my-3 d-flex justify-content-center align-items-center">
			<label class="col-lg-2 col-md-4 col-6 px-1 font-weight-bold mb-0">
				{{ 'FORMS.is_required' | translate }}
			</label>
			<section class="col-lg-10 col-md-8 col-6">
				<mat-slide-toggle formControlName="is_required">
				</mat-slide-toggle>
				<kt-form-error [form]="form" [controlName]="'is_required'" [validationType]="'required'"
					[controlText]="'FORMS.is_required' | translate">
				</kt-form-error>
			</section>
		</div>
		<!--is_required -->
	</div>


	<div class="row">
		<!-- model_type -->
		<div class="col-md-6 mx-0 my-3">

			<div class="">
				<label class="font-weight-bold">
					{{ 'Components.DYNAMIC_ATTRIBUTES.columns.model_type' | translate }}
				</label>
				<mat-form-field class="w-100 select">
					<mat-select formControlName="model_type">
						<mat-option *ngFor="let model_type of listAttributesEnums.model_types"
							[value]="model_type.value">
							{{ model_type.name | titlecase }}
						</mat-option>

					</mat-select>

				</mat-form-field>

				<kt-form-error [form]="form" [controlName]="'model_type'" [validationType]="'required'"
					[controlText]="'Components.DYNAMIC_ATTRIBUTES.columns.model_type' | translate">
				</kt-form-error>

			</div>

		</div>
		<!-- model_type  -->

		<!-- Attribute type -->
		<div class="col-md-6  mx-0 my-3">
			<div>
				<label class="font-weight-bold">
					{{ 'Components.DYNAMIC_ATTRIBUTES.columns.type' | translate }}
				</label>
				<mat-form-field class="w-100 select">
					<mat-select [(ngModel)]="attribute_type" (selectionChange)="attributeType()" formControlName="type">
						<mat-option *ngFor="let type of listAttributesEnums.attribute_types" [value]="type.value">
							{{ type.name | titlecase }}
						</mat-option>

					</mat-select>

				</mat-form-field>

				<kt-form-error [form]="form" [controlName]="'type'" [validationType]="'required'"
					[controlText]="'Components.DYNAMIC_ATTRIBUTES.columns.type' | translate">
				</kt-form-error>

			</div>

		</div>
		<!-- Attribute type  -->
	</div>


	<kt-dynamic-values *ngIf="checkDynamicValues()" [attribute_type]="attribute_type"
		(add_form_event)="addFromEvent($event)" (remove_form_event)="removeFromEvent($event)"
		[form]="form"></kt-dynamic-values>

</div>
