<div class="loader d-flex justify-content-center p-5" *ngIf="isLoading">
	<mat-spinner diameter="50"></mat-spinner>
</div>

<kt-portlet [ngClass]="'kt-portlet--ngviewer'" *ngIf="!isLoading">
	<kt-portlet-header [title]="'Series Deatils'"></kt-portlet-header>

	<kt-portlet-body>
		<mat-grid-list cols="2" rowHeight="60px">
			<mat-grid-tile *ngFor="let item of headersData">
				<div class="col-5 header">
					{{item}} :
				</div>
				<div class="col-7">
					{{ (item == 'name' || item == 'description' || item == 'slug') ?
					toLang(seriesDetails[item], item) : seriesDetails[item] }}
				</div>
			</mat-grid-tile>

			<!-- Sessions Num: -->
			<mat-grid-tile>
				<div class="col-5 header">
					Sessions Num:
				</div>
				<div class="col-7">
					{{seriesDetails['series_no_of_seasons']}}
				</div>
			</mat-grid-tile>

			<!-- Series Status: -->
			<mat-grid-tile>
				<div class="col-5 header">
					Series Status:
				</div>
				<div class="col-7">
					<i [class]="seriesDetails['series_status'] ? 'flaticon2-check-mark': 'flaticon2-cancel-music'"></i>
				</div>
			</mat-grid-tile>

			<!-- is Exclusive: -->
			<mat-grid-tile>
				<div class="col-5 header">
					is Exclusive:
				</div>
				<div class="col-7">
					<i [class]="seriesDetails['is_exclusive'] ? 'flaticon2-check-mark': 'flaticon2-cancel-music'"></i>
				</div>
			</mat-grid-tile>

			<!-- is New: -->
			<mat-grid-tile>
				<div class="col-5 header">
					is New:
				</div>
				<div class="col-7">
					<i [class]="seriesDetails['is_new'] ? 'flaticon2-check-mark': 'flaticon2-cancel-music'"></i>
				</div>
			</mat-grid-tile>

			<!-- Geners List  -->
			<mat-grid-tile>
				<div class="col-5 header">
					Genres List:
				</div>
				<div class="col-7">
					<span class="d-block" *ngFor="let item of seriesDetails.genres">
						<span>{{ item.key }}</span> |
						<small>{{toLang(item.name)}}</small>
					</span>
				</div>
			</mat-grid-tile>

			<!-- Tags List  -->
			<mat-grid-tile>
				<div class="col-5 header">
					Tags List:
				</div>
				<div class="col-7">
					<span class="d-block" *ngFor="let item of seriesDetails.tags">
						<span>{{ item.key }}</span> |
						<small>{{toLang(item.name)}}</small>
					</span>
				</div>
			</mat-grid-tile>

			<!-- Content Imgs List  -->
			<!-- <mat-grid-tile colspan="3" rowspan="1">
				<div class="col-5 header">
					Content Imgs List:
				</div>
				<div class="col-7">
					<span class="p-3" *ngFor="let item of seriesDetails.content_images">
						<img height="100px" width="100px" class="img-thumbnail" [src]="item.image"
							onerror="this.src ='../../../../../../assets/img/Dummy-Person.png'">
					</span>
				</div>
			</mat-grid-tile> -->
		</mat-grid-list>

	</kt-portlet-body>

	<kt-portlet-footer></kt-portlet-footer>
</kt-portlet>

<!--  -->
