<div class="row">
	<div class="col-12">
		<!-- <kt-portlet-header [title]="'Plays'"> </kt-portlet-header> -->
		<div class="example-container  px-3 py-1">
			<div class="example-loading-shade text-center d-flex justify-content-center p-5" *ngIf="isLoadingResults">
				<mat-spinner diameter="50" *ngIf="isLoadingResults"></mat-spinner>
			</div>
			<div class="example-table-container" *ngIf="!isLoadingResults">
				<!--Search Filter-->
				<!-- <mat-form-field class="w-25 pr-3 pl-3 py-4">
						<input matInput name="filter_Position"
							(keyup)="applySpecificFilter('name' ,$event.target.value)"
							placeholder="Filter name.">
					</mat-form-field> -->
				<kt-filter [HeaderTitle]="'Plays'" [currentService]="_clipsService" [headerParams]="headerParams" [currentComponent]="this"
					[HasActive]="true" [HasExport]="true" [HasSearchFilter]="true" [isLoadingResults]="isLoadingResults"
					[HasItemPerPage]="true" [HasAdd]='true'>
				</kt-filter>
				<!--Table-->
				<table mat-table [dataSource]="dataSource$" matSort class="mat-elevation-z8">
					<!-- Position Column -->
					<ng-container *ngFor="let header of displayedColumns;">

						<!-- id column -->
						<!-- <ng-container matColumnDef="{{header}}" *ngIf="header == 'id'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
							<td mat-cell *matCellDef="let element"> {{element.id}} </td>
						</ng-container> -->

						<!-- name column -->
						<ng-container matColumnDef="{{header}}" *ngIf="header == 'name'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> {{header}} ({{lang}}) </th>
							<td mat-cell *matCellDef="let elem">
								{{ toLang(elem[header]) }}
							</td>
						</ng-container>

						<!-- genres column -->
						<ng-container matColumnDef="{{header}}" *ngIf="header == 'genres'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> {{header}} </th>
							<td mat-cell *matCellDef="let elem">
								{{ elem[header][0]?.key || '---' }}
							</td>
						</ng-container>

						<!-- Year column -->
						<ng-container matColumnDef="{{header}}" *ngIf="header == 'clip_year'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> {{header}} </th>
							<td mat-cell *matCellDef="let elem">
								{{ elem[header] }}
							</td>
						</ng-container>

						<!-- clip_puplish_date column -->
						<ng-container matColumnDef="{{header}}" *ngIf="header == 'clip_puplish_date'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> {{header}} </th>
							<td mat-cell *matCellDef="let elem">
								{{ elem[header] }}
							</td>
						</ng-container>

						<!-- companies column -->
						<ng-container matColumnDef="{{header}}" *ngIf="header == 'companies'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> {{header}} </th>
							<td mat-cell *matCellDef="let elem">
								{{ toLang(elem[header][0]['name']) }}
							</td>
						</ng-container>

						<!-- content_images column -->
						<ng-container matColumnDef="{{header}}" *ngIf="header == 'content_images'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> image</th>
							<td mat-cell *matCellDef="let elem">
								<!-- {{ elem[header][0]['image'] }} -->
								<img class="img-thumbnail" [src]="elem[header][0]['image']"
								alt="">
							</td>
						</ng-container>

						<!-- action Column -->
						<ng-container *ngIf="header == 'options'" matColumnDef="options">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Components.options' | translate}}
							</th>
							<td mat-cell *matCellDef="let element">
								<button [matMenuTriggerFor]="menu"
									class="btn btn-outline-hover-dark btn-outline-secondary btn-circle">
									<i class="flaticon-settings"></i>
								</button>
								<mat-menu #menu="matMenu">
									<button mat-menu-item [routerLink]="'details/'+ element.id">
										{{ 'Components.Details' | translate }}
									</button>
									<button mat-menu-item [routerLink]="'edit/'+ element.id">
										{{ 'Components.Edit' | translate }}
									</button>
									<button mat-menu-item [routerLink]="element.id"
										(click)="deleteColumn(element.id, element)">
										{{ 'Components.Delete' | translate }}
									</button>
								</mat-menu>
							</td>
						</ng-container>

					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					<!-- <tr mat-footer-row *matFooterRowDef="tableHeaders"></tr> -->
				</table>
				<!--Table-->
			</div>
			<mat-paginator #paginator [pageSizeOptions]="[15, 25, 40]" showFirstLastButtons></mat-paginator>

		</div>
	</div>
</div>
