<div class="header p-3">
	<h5>Edit Episodes</h5>
</div>
<mat-divider></mat-divider>

<div class="loader d-flex justify-content-center p-5" *ngIf="isLoading">
	<mat-spinner diameter="50"></mat-spinner>
</div>

<!-- Form-->
<div class="example-container container-fluid">
	<div class="loader d-flex justify-content-center">
		<kt-api-loader diameter="50" class="text-center" [isLoadingResults]="isLoadingResults"></kt-api-loader>
	</div>
	<div [hidden]="isLoadingResults">
		<form class="example-form p-3" [formGroup]="editForm" autocomplete="off">
			<!--  name -->
			<div class="row" formGroupName="name">
				<div class="col-md-6">
					<kt-form-input [form_group]="'name'" [form]="editForm" [label]="'Name (En)'"
						[form_control_name]="'en'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<kt-form-input [form_group]="'name'" [form]="editForm" [label]="'Name (Ar)'"
						[form_control_name]="'ar'"></kt-form-input>
				</div>
			</div>
			<!--  description -->
			<div class="row" formGroupName="description">
				<div class="col-md-6">
					<kt-form-textarea [form_group]="'description'" [form]="editForm" [label]="'Description (En)'"
						[form_control_name]="'en'"></kt-form-textarea>
				</div>
				<div class="col-md-6">
					<kt-form-textarea [form_group]="'description'" [form]="editForm" [label]="'Description (Ar)'"
						[form_control_name]="'ar'"></kt-form-textarea>
				</div>
			</div>

			<!-- series_no_of_seasons && Status -->
			<div class="row">
				<div class="col-md-6">
					<kt-form-input [type]="'number'" [form]="editForm" [label]="'duration'"
						[form_control_name]="'duration'"></kt-form-input>
				</div>
				<div class="col-md-4">
					<kt-form-input [type]="'number'" [form]="editForm" [label]="'number'"
						[form_control_name]="'number'"></kt-form-input>
				</div>
				<div class="col-md-2">
					<div class="example-label-container">
						<label id="example-name-label" class="example-name-label">Episodes Status</label>
					</div>
					<mat-slide-toggle formControlName="status"></mat-slide-toggle>
				</div>
			</div>

			<!-- publish_date && publish_end_date -->
			<div class="row">
				<div class="col-md-6">
					<kt-form-date-picker [form]="editForm" [label]="'publish_date'"
						[form_control_name]="'publish_date'"></kt-form-date-picker>
				</div>
				<div class="col-md-6">
					<kt-form-date-picker [form]="editForm" [label]="'publish_end_date'"
						[form_control_name]="'publish_end_date'"></kt-form-date-picker>
				</div>
			</div>

			<!-- Providers & is_new -->
			<div class="row">
				<!-- <div class="col-md-6">
					<label>Content Providers</label>
					<ng-select formControlName="content_provider_id" [loading]="!providerList.length">
						<ng-option *ngFor="let item of providerList" [value]="item.id">{{toLang(item.name)}}</ng-option>
					</ng-select>
				</div> -->
				<div class="col-md-6">
					<label>Tags *</label>
					<ng-select [multiple]="true" formControlName="tags" [loading]="!tagsList.length">
						<ng-option *ngFor="let item of tagsList" [value]="item.id">{{item.key +' | '+
							toLang(item.name)}}</ng-option>
					</ng-select>
				</div>
			</div>

			<ng-container class="selectList pt-3">
				<div class="row">
					<div class="col-md-12 button-box pt-4">
						<button mat-raised-button (click)="addCrewRow()">New Crew</button>
					</div>
				</div>

				<ng-container formArrayName="crews" *ngFor="let item of getCrews?.controls; index as i">
					<div class="row py-3" [formGroupName]="i">
						<div class="col-md-6">
							<label>Crews ({{i+1}})</label>
							<ng-select formControlName="crew_id" [loading]="!crewList?.length">
								<ng-option *ngFor="let item of crewList"
									[value]="item.id">{{toLang(item.name)}}</ng-option>
							</ng-select>
						</div>
						<div class="col-md-4 px-3">
							<label>Crew Type ({{i+1}})</label>
							<ng-select formControlName="crew_type_id" [loading]="!crewTypesList?.length">
								<ng-option *ngFor="let item of crewTypesList"
									[value]="item.id">{{toLang(item.name)}}</ng-option>
							</ng-select>
						</div>
						<div class="col-md-1 button-box">
							<button mat-mini-fab color="warn" [disabled]="i == 0"
								(click)="removeCrewRow(i)"><mat-icon>remove</mat-icon></button>
						</div>
					</div>
					<hr>
				</ng-container>

				<!-- Content Types && content_images -->
				<div class="loader d-flex justify-content-center p-5" *ngIf="!isDimentionReady">
					<mat-spinner diameter="50"></mat-spinner>
				</div>
				<div class="row py-4" *ngIf="isDimentionReady || dimentionList.length">
					<ng-container *ngFor="let item of dimentionList; index as i" formArrayName="content_images">
						<div class="col-md-4" [formGroupName]="i">
							<kt-form-upload-image [formGroup]="'content_images'" [control_index]="i"
								[dimentionID]="item.id" [clear_src]="clearImgSrc" [to_base64]="true" [form]="editForm"
								[form_control_name]="'img'" [label]="convertLable(item.key, i)">
							</kt-form-upload-image>
						</div>
					</ng-container>
				</div>
			</ng-container>

			<div class="btn float-right">
				<button class="action-btn d-flex justify-content-center align-items-center" type="button"
					mat-raised-button color="primary" [disabled]="btnLoading" (click)="submit()">
					<span *ngIf="!btnLoading">Update</span>
					<span *ngIf="btnLoading">
						<mat-spinner diameter="20"></mat-spinner>
					</span>
				</button>
			</div>
		</form>
	</div>

</div>
