<div class="header p-3">
	<h5>Edit Crew</h5>
</div>
<mat-divider></mat-divider>

<!-- Form-->
<div class="example-container container-fluid">
	<div class="loader d-flex justify-content-center">
		<kt-api-loader diameter="50" class="text-center" [isLoadingResults]="isLoadingResults"></kt-api-loader>
	</div>
	<div [hidden]="isLoadingResults">
		<form class="example-form p-3" [formGroup]="editForm" autocomplete="off">

			<div class="row" formGroupName="name">
				<div class="col-md-6">
					<kt-form-input [form_group]="'name'" [form]="editForm" [label]="'Name (En)'"
						[form_control_name]="'en'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<kt-form-input [form_group]="'name'" [form]="editForm" [label]="'Name (Ar)'"
						[form_control_name]="'ar'"></kt-form-input>
				</div>
			</div>

			<div class="row" formGroupName="description">
				<div class="col-md-6">
					<kt-form-input [form_group]="'description'" [form]="editForm" [label]="'Bio (En)'"
						[form_control_name]="'en'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<kt-form-input [form_group]="'description'" [form]="editForm" [label]="'Bio (Ar)'"
						[form_control_name]="'ar'"></kt-form-input>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<kt-form-date-picker [form]="editForm" [label]="'Date of Birth'"
						[form_control_name]="'birth_date'"></kt-form-date-picker>
				</div>
				<div class="col-md-6">
					<kt-form-date-picker [form]="editForm" [label]="'Date of Death'"
						[form_control_name]="'death_date'"></kt-form-date-picker>
				</div>
			</div>

			<div class="row py-2">
				<div class="col-md-6">
					<div class="py-1 d-flex flex-column">
						<div class="py-2">
							<label>Gender </label>
							<ng-select formControlName="gender" [loading]="!genderList.length">
								<ng-option *ngFor="let item of genderList" [value]="item">{{item}}</ng-option>
							</ng-select>
						</div>
						<div class="py-2">
							<label>Nationality</label>
							<ng-select formControlName="nationality_id" [loading]="!nationalitiesList.length">
								<ng-option *ngFor="let item of nationalitiesList"
									[value]="item.id">{{toLang(item.name)}}</ng-option>
							</ng-select>
						</div>

						<div class="py-2">
							<label>Crew Types </label>
							<ng-select formControlName="types" [multiple]="true" [loading]="!crewTypesList.length">
								<ng-option *ngFor="let item of crewTypesList"
									[value]="item.id">{{toLang(item.name)}}</ng-option>
							</ng-select>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<kt-form-upload-image [addClass]="'crewImg'" [clear_src]="clearImgSrc" [to_base64]="true" [form]="editForm"
						[form_control_name]="'thumb'" [label]="'Upload image'">
					</kt-form-upload-image>
				</div>
				<!-- <label>Socail Links </label> -->
				<!-- <ng-select [items]="socialLink_list"
								bindLabel="name"
								formControlName="social_links"
								[addTag]="addCustomLink"
								[multiple]="true"
								>
					</ng-select> -->
			</div>

			<div class="row py-2" formGroupName="social_links">
				<div class="col-md-6">
					<kt-form-input [form_group]="'social_links'" [form]="editForm" [label]="'Facebook link'"
						[form_control_name]="'facebook'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<kt-form-input [form_group]="'social_links'" [form]="editForm" [label]="'Instagram link'"
						[form_control_name]="'instagram'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<kt-form-input [form_group]="'social_links'" [form]="editForm" [label]="'Twitter link'"
						[form_control_name]="'twitter'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<kt-form-input [form_group]="'social_links'" [form]="editForm" [label]="'Youtube link'"
						[form_control_name]="'youtube'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<kt-form-input [form_group]="'social_links'" [form]="editForm" [label]="'Tiktok link'"
						[form_control_name]="'tiktok'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<kt-form-input [form_group]="'social_links'" [form]="editForm" [label]="'Snapchat link'"
						[form_control_name]="'snapchat'"></kt-form-input>
				</div>
			</div>

			<div class="btn float-right"> <button type="button" mat-raised-button color="primary"
					(click)="submit()">Update</button>
			</div>
		</form>
	</div>

</div>
