.example-radio-group {
	display: flex;
	flex-direction: row;
	margin: 15px 0;
	align-items: flex-start;
}
.button-box{
	display: flex;
    align-items: flex-end;
    justify-content: end;
}
.mat-icon{
	height: auto !important;
}
.remove_box{
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
