<div class="header p-3">
	<h5>Edit Collections</h5>
</div>
<mat-divider></mat-divider>

<!-- Form-->
<div class="example-container container-fluid">
	<div class="loader d-flex justify-content-center">
		<kt-api-loader diameter="50" class="text-center" [isLoadingResults]="isLoadingResults"></kt-api-loader>
	</div>
	<div [hidden]="isLoadingResults">
		<form class="example-form p-3" [formGroup]="editForm" autocomplete="off">

			<div class="row py-2" formGroupName="name">
				<div class="col-md-6">
					<kt-form-input [form_group]="'name'" [form]="editForm" [label]="'Name (En)'"
						[form_control_name]="'en'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<kt-form-input [form_group]="'name'" [form]="editForm" [label]="'Name (Ar)'"
						[form_control_name]="'ar'"></kt-form-input>
				</div>
			</div>

			<div class="row py-2">
				<div class="col-md-6">
					<label>Display Type *</label>
					<ng-select formControlName="display_type_id" [loading]="!displayTypesList.length">
						<ng-option *ngFor="let item of displayTypesList"
							[value]="item.id">{{toLang(item.name)}}</ng-option>
					</ng-select>
				</div>
				<div class="col-md-6">
					<label>Device Type *</label>
					<ng-select formControlName="device_types" [multiple]="true" [loading]="!deviceTypesList.length">
						<ng-option *ngFor="let item of deviceTypesList"
							[value]="item.id">{{toLang(item.name)}}</ng-option>
					</ng-select>
				</div>
			</div>

			<!-- sorting order -->
			<div class="row py-2">
				<div class="col-md-6">
					<kt-form-input [type]="'number'" [form_control_name]="'sorting_order'" [form]="editForm"
						[label]="'Sorting Order'"></kt-form-input>
				</div>
			</div>
			<!-- content & types -->
			<div class="row pb-2">
				<div class="col-md-12 button-box text-right py-4">
					<button (click)="addContentRow()" mat-mini-fab>
						<mat-icon>add</mat-icon>
					</button>
				</div>

				<div class="col-md-6 pb-4" formArrayName="contents"
					*ngFor="let item of getContent.controls; index as i">
					<div class="row" [formGroupName]="i">
						<div class="col-md-5">
							<label id="content_types">Content Type *</label>
							<ng-select formControlName="content_type_id" [items]="mainContentTypeList"
								bindLabel="name.en" bindValue="id" (change)="contentTypesOnChange($event, i)"
								[loading]="!mainContentTypeList.length">
							</ng-select>
						</div>
						<div class="col-md-6">
							<label>Content *</label>
							<ng-select formControlName="content_id" [items]="contentList[i]" bindLabel="name.en"
								bindValue="id">
							</ng-select>
						</div>
						<div class="col-md-1 remove_box p-0">
							<span class="counter">({{i+1}})</span>
							<button mat-mini-fab color="warn" [disabled]="i == 0"
								(click)="removeContentwRow(i)"><mat-icon>remove</mat-icon></button>
						</div>
					</div>
				</div>
			</div>

			<div class="btn float-right">
				<button class="action-btn d-flex justify-content-center align-items-center" type="button" mat-raised-button color="primary"
					[disabled]="btnLoading" (click)="submit()">
					<span *ngIf="!btnLoading">Update</span>
					<span *ngIf="btnLoading">
						<mat-spinner diameter="20"></mat-spinner>
					</span>
				</button>
			</div>
		</form>
	</div>

</div>
