<div class="header p-3">
	<h5>Add Cms User</h5>
</div>
<mat-divider></mat-divider>

<!-- Form-->
<div class="example-container container-fluid">
	<div [hidden]="isLoadingResults">
		<form class="example-form p-3" [formGroup]="addForm" autocomplete="off">
			<div class="row">
				<div class="col-md-6">
					<kt-form-input [form]="addForm" [label]="'Name'" [form_control_name]="'name'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<mat-form-field class="w-100 pt-4">
						<mat-label>Roles</mat-label>
						<mat-select formControlName="roles" multiple>
							<mat-option *ngFor="let role of rolesList" [value]="role.id">{{role.name}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-md-6">
					<kt-form-input [form]="addForm" [label]="'Email'" [form_control_name]="'email'"></kt-form-input>
				</div>
				<div class="col-md-4">
					<kt-form-input [form]="addForm" [label]="'Password'"
						[form_control_name]="'password'"></kt-form-input>
				</div>
				<div class="col-md-2">
					<div class="example-label-container d-flex">
						<label id="example-name-label" class="example-name-label">Status </label>
						<mat-icon class="info_icon" matTooltip="Make this User Active">info</mat-icon>
					</div>
					<mat-slide-toggle formControlName="is_active"></mat-slide-toggle>
				</div>
			</div>

 			<div class="btn float-right">
				<button class="action-btn d-flex justify-content-center align-items-center" type="button" mat-raised-button color="primary"
					[disabled]="btnLoading" (click)="submit()">
					<span *ngIf="!btnLoading">Add</span>
					<span *ngIf="btnLoading">
						<mat-spinner diameter="20"></mat-spinner>
					</span>
				</button>
			</div>
		</form>
	</div>

</div>
