<div class="header p-3">
	<h5>Add Movie</h5>
</div>
<div class="loader d-flex justify-content-center p-5" *ngIf="isLoading">
	<mat-spinner diameter="50"></mat-spinner>
</div>

<!-- Form-->
<div class="example-container container-fluid">
	<div class="loader d-flex justify-content-center">
		<kt-api-loader diameter="50" class="text-center" [isLoadingResults]="isLoadingResults"></kt-api-loader>
	</div>
	<div [hidden]="isLoadingResults">
		<form class="example-form p-3" [formGroup]="addForm" autocomplete="off">
			<!--  name -->
			<div class="row" formGroupName="name">
				<div class="col-md-6">
					<kt-form-input [form_group]="'name'" [form]="addForm" [label]="'Name (En)'"
						[form_control_name]="'en'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<kt-form-input [form_group]="'name'" [form]="addForm" [label]="'Name (Ar)'"
						[form_control_name]="'ar'"></kt-form-input>
				</div>
			</div>
			<!--  description -->
			<div class="row" formGroupName="description">
				<div class="col-md-6">
					<kt-form-input [form_group]="'description'" [form]="addForm" [label]="'Description (En)'"
						[form_control_name]="'en'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<kt-form-input [form_group]="'description'" [form]="addForm" [label]="'Description (Ar)'"
						[form_control_name]="'ar'"></kt-form-input>
				</div>
			</div>
			<!-- clip_duration && rating && Status -->
			<div class="row">
				<div class="col-md-6">
					<kt-form-input  [form]="addForm" [label]="'Clip Duration'"
						[form_control_name]="'clip_duration'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<label>Rating *</label>
					<ng-select formControlName="clip_watch_rating">
						<ng-option *ngFor="let item of ratingList" [value]="item">{{item}}</ng-option>
					</ng-select>
				</div>
			</div>
			<!-- clip_year && clip_puplish_date &&  clip_puplish_end_date -->
			<div class="row">
				<div class="col-md-4">
					<kt-form-year-date-picker [clearValue]="clearValue" [form]="addForm" [label]="'Clip Year*'"
						[form_control_name]="'clip_year'"></kt-form-year-date-picker>
				</div>
				<div class="col-md-4">
					<kt-form-date-picker [form]="addForm" [label]="'clip_puplish_date'"
						[form_control_name]="'clip_puplish_date'"></kt-form-date-picker>
				</div>
				<div class="col-md-4">
					<kt-form-date-picker [form]="addForm" [label]="'clip_puplish_end_date'"
						[form_control_name]="'clip_puplish_end_date'"></kt-form-date-picker>
				</div>
			</div>

			<ng-container class="selectList">
				<!-- Companies && Genres -->
				<div class="row py-4">
					<div class="col-md-6">
						<label>Genres *</label>
						<ng-select [multiple]="true" (change)="addGenreRow($event)" [loading]="!genreList.length">
							<ng-option *ngFor="let item of genreList" [value]="item.id">{{item.key +' | '+
								toLang(item.name)}}</ng-option>
						</ng-select>
					</div>
					<div class="col-md-6">
						<label>Companies *</label>
						<ng-select [multiple]="true" (change)="addCompanyRow($event)" [loading]="!companyList.length">
							<ng-option *ngFor="let item of companyList"
								[value]="item.id">{{toLang(item.name)}}</ng-option>
						</ng-select>
					</div>
					<!-- <div class="col-md-6">
						<label>Content Providers</label>
						<ng-select formControlName="content_provider_id" [loading]="!providerList.length">
							<ng-option *ngFor="let item of providerList"
								[value]="item.id">{{toLang(item.name)}}</ng-option>
						</ng-select>
					</div> -->
				</div>
				<!-- Genres && Crews -->
				<div class="row">
					<div class="col-md-6">
						<label>Tags *</label>
						<ng-select [multiple]="true" formControlName="tags" [loading]="!tagsList.length">
							<ng-option *ngFor="let item of tagsList" [value]="item.id">{{item.key +' | '+
								toLang(item.name)}}</ng-option>
						</ng-select>
					</div>
					<div class="col-md-3">
						<div class="example-label-container d-flex">
							<label id="example-name-label" class="example-name-label">Status </label>
							<mat-icon class="info_icon" matTooltip="Show This Clip on Frontends">info</mat-icon>
						</div>
						<mat-slide-toggle formControlName="clip_status"></mat-slide-toggle>
					</div>
					<div class="col-md-3">
						<div class="example-label-container d-flex">
							<label id="example-name-label" class="example-name-label">is_featured </label>
							<mat-icon class="info_icon"
								matTooltip="Show This Clip as featured in homepage">info</mat-icon>
						</div>
						<mat-slide-toggle formControlName="is_featured"></mat-slide-toggle>
					</div>
				</div>
				<!-- Categories Rows -->
				<div class="row">
					<div class="col-md-6  pt-4">
						<label>Categories *</label>
						<ng-select [multiple]="true" formControlName="categories" [loading]="!categoriesList.length">
							<ng-option *ngFor="let item of categoriesList"
								[value]="item.id">{{toLang(item.name)}}</ng-option>
						</ng-select>
					</div>

					<div class="col-md-12 button-box pt-4">
						<button mat-raised-button (click)="addCrewRow()">New Crew</button>
					</div>
				</div>
				<!-- Crew Rows -->
				<div class="row">
					<div class="col-md-6" formArrayName="clip_crews" *ngFor="let item of getCrews.controls; index as i">
						<div class="row py-3" [formGroupName]="i">
							<div class="col-md-8">
								<label>Crews *  ({{i+1}})</label>
								<ng-select formControlName="crew_id" [loading]="!crewList.length">
									<ng-option *ngFor="let item of crewList"
										[value]="item.id">{{toLang(item.name)}}</ng-option>
								</ng-select>
							</div>
							<div class="col-md-2 px-3">
								<div class="example-label-container">
									<label id="example-name-label" class="example-name-label">Is Star</label>
								</div>
								<mat-slide-toggle formControlName="is_star"></mat-slide-toggle>
							</div>
							<div class="col-md-1 button-box">
								<button mat-mini-fab color="warn" [disabled]="i == 0"
									(click)="removeCrewRow(i)"><mat-icon>remove</mat-icon></button>
							</div>
						</div>
					</div>
				</div>
				<mat-divider class="my-3"></mat-divider>

				<!-- Content Types && content_images -->
				<div class="loader d-flex justify-content-center p-5" *ngIf="!isDimentionReady">
					<mat-spinner diameter="50"></mat-spinner>
				</div>
				<div class="row py-4" *ngIf="isDimentionReady || dimentionList.length">
					<ng-container *ngFor="let item of dimentionList; index as i" formArrayName="content_images">
						<div class="col-md-4" [formGroupName]="i">
							<kt-form-upload-image [formGroup]="'content_images'" [control_index]="i"
								[dimentionID]="item.id" [clear_src]="clearImgSrc" [to_base64]="true" [form]="addForm"
								[form_control_name]="'img'" [label]="convertLable(item.key, i)">
							</kt-form-upload-image>
						</div>
					</ng-container>
				</div>

			</ng-container>

			<div class="btn float-right"> <button type="button" mat-raised-button color="primary"
					(click)="submit()">Add</button>
			</div>
		</form>
	</div>

</div>
