<!-- <kt-notice [icon]="'flaticon-warning kt-font-warning'" style="direction: ltr;text-align: left;">
	&nbsp; &nbsp; DataTables created By <code>Al3ameed</code>.
</kt-notice> -->
<div class="row">
	<div class="col-12 p-3">
		<div class="row">
			<div class="col-md-6">
				<kt-portlet-header [title]="title"> </kt-portlet-header>
			</div>
			<div class="col-md-6 text-right">
				<a routerLink="/cms/{{route_path| lowercase}}/add">
					<button mat-raised-button color="primary">{{ 'MENU.ADD_NEW' | translate }}</button></a>
			</div>
		</div>
		<div class="example-container">
			<div class="example-loading-shade text-center d-flex justify-content-center p-5" *ngIf="isLoading">
				<mat-spinner diameter="50" *ngIf="isLoading"></mat-spinner>
			</div>
			<div class="example-table-container" *ngIf="!isLoading">
				<!--Search Filter-->
				<form>

					<!-- <mat-form-field class="w-25 pr-3 pl-3">
						<input matInput name="filter_Position"
							(keyup)="applySpecificFilter('position' ,$event.target.value)"
							placeholder="Filter Position.">
					</mat-form-field>

					<mat-form-field class="w-25 pr-3 pl-3">
						<input matInput name="filter_Name" (keyup)="applySpecificFilter('name' ,$event.target.value)"
							placeholder="Filter Name.">
					</mat-form-field>

					<mat-form-field class="w-25 pr-3 pl-3">
						<input matInput name="weight" (keyup)="applySpecificFilter('weight' ,$event.target.value)"
							placeholder="Filter Weight.">
					</mat-form-field>

					<mat-form-field class="w-25 pr-3 pl-3">
						<input matInput name="symbol" (keyup)="applySpecificFilter('symbol' ,$event.target.value)"
							placeholder="Filter symbol.">
					</mat-form-field> -->

				</form>
				<!--Table-->
				<table mat-table [dataSource]="dataSource$" matSort class="mat-elevation-z8">
					<!-- Position Column -->
					<ng-container *ngFor="let header of tableHeaders;">

						<!-- id column -->
						<ng-container matColumnDef="{{header}}" *ngIf="header == 'id'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
							<td mat-cell *matCellDef="let element"> {{element.id}} </td>
						</ng-container>

						<!-- key column -->
						<ng-container matColumnDef="{{header}}" *ngIf="header == 'key'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> {{header}} </th>
							<td mat-cell *matCellDef="let element"> {{element.key}} </td>
						</ng-container>

						<!-- name column -->
						<ng-container matColumnDef="{{header}}" *ngIf="header == 'name'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> {{header}} </th>
							<td mat-cell *matCellDef="let elem">
								{{lang == 'en' ? elem[header].en : elem[header].ar}}
							</td>
						</ng-container>

						<!-- nationality column -->
						<ng-container matColumnDef="{{header}}" *ngIf="header == 'nationality'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> {{header}} </th>
							<td mat-cell *matCellDef="let elem">
								{{lang == 'en' ? elem[header]['name'].en : elem[header]['name'].ar}}
							</td>
						</ng-container>

						<!-- types column -->
						<ng-container matColumnDef="{{header}}" *ngIf="header == 'types'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> {{header}} </th>
							<td mat-cell *matCellDef="let elem">
								{{ elem[header][0].key }}
							</td>
						</ng-container>

						<!-- thumb column -->
						<ng-container matColumnDef="{{header}}" *ngIf="header == 'thumb'">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> {{header}} </th>
							<td mat-cell *matCellDef="let element">
								<img style="width: 3rem;" src="../../../../../assets/img/Dummy-Person.png" alt="">
							</td>
						</ng-container>

						<!-- action Column -->
						<ng-container *ngIf="header == 'options'" matColumnDef="options">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Components.options' | translate
								}}</th>
							<td mat-cell *matCellDef="let element">
								<button mat-icon-button [matMenuTriggerFor]="menu"
									aria-label="Example icon-button with a menu">
									<mat-icon>settings</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
									<button *ngIf="title == 'Crew'" mat-menu-item [routerLink]="'details/'+ element.id">
										{{ 'Components.Details' | translate }}
									</button>
									<button mat-menu-item [routerLink]="'edit/'+ element.id">
										{{ 'Components.Edit' | translate }}
									</button>
									<button mat-menu-item [routerLink]="element.id" (click)="deleteColumn(element.id)">
										{{ 'Components.Delete' | translate }}
									</button>
								</mat-menu>
							</td>
						</ng-container>

					</ng-container>

					<tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
					<tr mat-row *matRowDef="let row; columns: tableHeaders;"></tr>
					<!-- <tr mat-footer-row *matFooterRowDef="tableHeaders"></tr> -->
				</table>
				<!--Table-->
			</div>
			<!-- <mat-paginator
				[length]="resultsLength"
				[pageIndex]="pageIndex"
				[pageSize]="pageSize"
				(page)="getServerData($event)"
			></mat-paginator> -->
		</div>
	</div>
</div>
