<div class="header p-3">
	<h5>Edit Genre</h5>
</div>
<mat-divider></mat-divider>

<!-- Form-->
<div class="example-container container-fluid">
	<div class="loader d-flex justify-content-center p-5" *ngIf="isLoadingResults">
		<kt-api-loader class="text-center" [isLoadingResults]="isLoadingResults"></kt-api-loader>
	</div>
	<div [hidden]="isLoadingResults">
		<form class="example-form p-3" [formGroup]="editForm" autocomplete="off">
			<!-- <div class="row">
				<div class="col-md-6">
					<kt-form-input [form]="editForm" [label]="'Key'" [form_control_name]="'key'"></kt-form-input>
				</div>
			</div> -->
			<div class="row" >
				<div class="col-md-6">
					<kt-form-input [form_group]="'name'" [form]="editForm" [label]="'Name (En)'" [form_control_name]="'en'"></kt-form-input>
				</div>

				<div class="col-md-6">
					<kt-form-input [form_group]="'name'" [form]="editForm" [label]="'Name (Ar)'" [form_control_name]="'ar'"></kt-form-input>
				</div>
			</div>

			<div class="btn float-right"> <button mat-raised-button color="primary" (click)="submit()">Update</button>
			</div>
		</form>
	</div>

</div>
