<div class="header p-3">
	<h5>Edit Content Provider</h5>
</div>
<mat-divider></mat-divider>
<!-- Form-->
<div class="example-container container-fluid">
	<div class="loader d-flex justify-content-center">
		<kt-api-loader diameter="50" class="text-center" [isLoadingResults]="isLoadingResults"></kt-api-loader>
	</div>
	<div [hidden]="isLoadingResults">
		<form class="example-form p-3" [formGroup]="editForm" autocomplete="off">

			<div class="row" formGroupName="name">
				<div class="col-md-6">
					<kt-form-input [form_group]="'name'" [form]="editForm" [label]="'Name (En)'"
						[form_control_name]="'en'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<kt-form-input [form_group]="'name'" [form]="editForm" [label]="'Name (Ar)'"
						[form_control_name]="'ar'"></kt-form-input>
				</div>
			</div>

			<div class="row" formGroupName="description">
				<div class="col-md-6">
					<kt-form-textarea [form_group]="'description'" [form]="editForm" [label]="'Description (En)'"
						[form_control_name]="'en'"></kt-form-textarea>
				</div>
				<div class="col-md-6">
					<kt-form-textarea [form_group]="'description'" [form]="editForm" [label]="'Description (Ar)'"
						[form_control_name]="'ar'"></kt-form-textarea>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<kt-form-input [form]="editForm" [label]="'Email'"
						[form_control_name]="'email'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<kt-form-input [form]="editForm" [label]="'Address'" [type]="'email'"
						[form_control_name]="'address'"></kt-form-input>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<kt-form-input [form]="editForm" [label]="'Phone'"
						[form_control_name]="'phone'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<kt-form-upload-image [clear_src]="clearImgSrc" [to_base64]="true" [form]="editForm"
						[form_control_name]="'image'" [label]="'Upload img'">
					</kt-form-upload-image>
				</div>
			</div>

			<div class="btn float-right">
				<button class="action-btn d-flex justify-content-center align-items-center" type="button" mat-raised-button color="primary"
					[disabled]="btnLoading" (click)="submit()">
					<span *ngIf="!btnLoading">Update</span>
					<span *ngIf="btnLoading">
						<mat-spinner diameter="20"></mat-spinner>
					</span>
				</button>
			</div>
		</form>
	</div>

</div>
