<div class="mb-4 position-relative" >
	<div class="row">
		<div class="col-6 ">
			<label class="d-block mb-4">{{label}}</label>
			<label class="btn btn-outline-dark">
				{{ 'Components.Gallery.choose_img' | translate }} <i class="flaticon2-image-file"></i>
				<input type="file" (change)="onFileSelect($event)" hidden/>
			</label>
			<kt-form-error *ngIf="validation_type"
							[form]="form"
							[controlName]="form_control_name"
							[validationType]="validation_type"
							[controlText]="label"
			></kt-form-error>
		</div>
		<!-- <div class="col-6"> -->
			<div *ngIf="imgURL" class="uploaded-preview my-4" [ngClass]="{'crew_img' : addClass}">
				<div>
					<img  class="img-thumbnail" src="{{ imgURL }}" alt="" class="">
				</div>
			</div>
		<!-- </div> -->
	</div>
</div>
