<div class="header p-3">
	<h5>Edit Series</h5>
</div>
<mat-divider></mat-divider>

<div class="loader d-flex justify-content-center p-5" *ngIf="isLoading">
	<mat-spinner diameter="50"></mat-spinner>
</div>

<!-- Form-->
<div class="example-container container-fluid">
	<div class="loader d-flex justify-content-center">
		<kt-api-loader diameter="50" class="text-center" [isLoadingResults]="isLoadingResults"></kt-api-loader>
	</div>
	<div [hidden]="isLoadingResults">
		<form class="example-form p-3" [formGroup]="editForm" autocomplete="off">
			<!--  name -->
			<div class="row" formGroupName="name">
				<div class="col-md-6">
					<kt-form-input [form_group]="'name'" [form]="editForm" [label]="'Name (En)'"
						[form_control_name]="'en'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<kt-form-input [form_group]="'name'" [form]="editForm" [label]="'Name (Ar)'"
						[form_control_name]="'ar'"></kt-form-input>
				</div>
			</div>
			<!--  description -->
			<div class="row" formGroupName="description">
				<div class="col-md-6">
					<kt-form-textarea [form_group]="'description'" [form]="editForm" [label]="'Description (En)'"
						[form_control_name]="'en'"></kt-form-textarea>
				</div>
				<div class="col-md-6">
					<kt-form-textarea [form_group]="'description'" [form]="editForm" [label]="'Description (Ar)'"
						[form_control_name]="'ar'"></kt-form-textarea>
				</div>
			</div>

			<!-- series_no_of_seasons && Status -->
			<div class="row">
				<div class="col-md-6">
					<kt-form-input [type]="'number'" [form]="editForm" [label]="'Num of seasons'"
						[form_control_name]="'series_no_of_seasons'"></kt-form-input>
				</div>
				<div class="col-md-3">
					<div class="example-label-container">
						<label id="example-name-label" class="example-name-label">Status</label>
					</div>
					<mat-slide-toggle formControlName="series_status"></mat-slide-toggle>
				</div>
				<div class="col-md-3">
					<div class="example-label-container d-flex">
						<label id="example-name-label" class="example-name-label">is_featured </label>
						<mat-icon class="info_icon" matTooltip="Show This Clip as featured in homepage">info</mat-icon>
					</div>
					<mat-slide-toggle formControlName="is_featured"></mat-slide-toggle>
				</div>
			</div>

			<!-- series_start_year && is_exclusive -->
			<div class="row">
				<div class="col-md-6">
					<kt-form-year-date-picker [control_value]="selectedSeiresYear" [clearValue]="clearValue"
						[form]="editForm" [label]="'Start Year *'"
						[form_control_name]="'series_start_year'"></kt-form-year-date-picker>
				</div>
				<div class="col-md-3">
					<div class="example-label-container">
						<label id="example-name-label" class="example-name-label">is_exclusive</label>
					</div>
					<mat-slide-toggle formControlName="is_exclusive"></mat-slide-toggle>
				</div>
				<div class="col-md-3">
					<div class="example-label-container">
						<label id="example-name-label" class="example-name-label">is_new</label>
					</div>
					<mat-slide-toggle formControlName="is_new"></mat-slide-toggle>
				</div>
			</div>

			<!-- Providers & is_new -->
			<div class="row">
				<!-- <div class="col-md-6">
					<label>Content Providers</label>
					<ng-select formControlName="content_provider_id" [loading]="!providerList.length">
						<ng-option *ngFor="let item of providerList" [value]="item.id">{{toLang(item.name)}}</ng-option>
					</ng-select>
				</div> -->

			</div>


			<ng-container class="selectList">
				<!-- Genres & Tags -->
				<div class="row">
					<div class="col-md-6">
						<label>Series Genres *</label>
						<ng-select [multiple]="true" (change)="addGenreRow($event)" formControlName="genre_ids"
							[loading]="!genreList.length">
							<ng-option *ngFor="let item of genreList" [value]="item.id">{{item.key +' | '+
								toLang(item.name)}}</ng-option>
						</ng-select>
					</div>
					<div class="col-md-6">
						<label>Series Tags *</label>
						<ng-select [multiple]="true" formControlName="tags" [loading]="!tagsList.length">
							<ng-option *ngFor="let item of tagsList" [value]="item.id">{{item.key +' | '+
								toLang(item.name)}}</ng-option>
						</ng-select>
					</div>
				</div>

				<!-- Categories Rows -->
				<div class="row">
					<div class="col-md-6  pt-4">
						<label>Categories *</label>
						<ng-select [multiple]="true" formControlName="categories" [loading]="!categoriesList.length">
							<ng-option *ngFor="let item of categoriesList"
								[value]="item.id">{{toLang(item.name)}}</ng-option>
						</ng-select>
					</div>
				</div>

				<!-- Content Types && content_images -->
				<mat-divider class="mt-5 mb-3"></mat-divider>
				<div class="loader d-flex justify-content-center p-5" *ngIf="!isDimentionReady">
					<mat-spinner diameter="50"></mat-spinner>
				</div>
				<div class="row py-4" *ngIf="isDimentionReady && dimentionList.length">
					<ng-container *ngFor="let item of dimentionList; index as i" formArrayName="content_images">
						<div class="col-md-4" [formGroupName]="i">
							<kt-form-upload-image [formGroup]="'content_images'" [control_index]="i"
								[dimentionID]="item.id" [clear_src]="clearImgSrc" [to_base64]="true" [form]="editForm"
								[form_control_name]="'img'" [label]="convertLable(item.key, i)">
							</kt-form-upload-image>
						</div>
					</ng-container>
				</div>

			</ng-container>

			<div class="btn float-right">
				<button class="action-btn d-flex justify-content-center align-items-center" type="button" mat-raised-button color="primary"
					[disabled]="btnLoading" (click)="submit()">
					<span *ngIf="!btnLoading">Update</span>
					<span *ngIf="btnLoading">
						<mat-spinner diameter="20"></mat-spinner>
					</span>
				</button>
			</div>
		</form>
	</div>

</div>
