<div class="header p-3">
	<h5>Edit Category</h5>
</div>
<mat-divider></mat-divider>

<!-- Form-->
<div class="example-container container-fluid">
	<div class="loader d-flex justify-content-center">
		<kt-api-loader diameter="50" class="text-center" [isLoadingResults]="isLoadingResults"></kt-api-loader>
	</div>
	<div [hidden]="isLoadingResults">
		<form class="example-form p-3" [formGroup]="editForm" autocomplete="off">
			<div class="row py-3">
				<div class="col-md-6">
					<label>Category Type *</label>
					<ng-select (change)="checkCategoryType($event)" formControlName="category_type">
						<ng-option *ngFor="let item of categoryTypeList" [value]="item">{{item}}</ng-option>
					</ng-select>
				</div>

				<div class="col-md-6" *ngIf="!isMainCategory">
					<label>Parent Category *</label>
					<ng-select formControlName="parent_id">
						<ng-option *ngFor="let item of parentList" [value]="item.id">{{item.name['en']}}</ng-option>
					</ng-select>
				</div>
			</div>
			<div class="row" formGroupName="name">
				<div class="col-md-6">
					<kt-form-input [form_group]="'name'" [form]="editForm" [label]="'Name (En)'"
						[form_control_name]="'en'"></kt-form-input>
				</div>
				<div class="col-md-6">
					<kt-form-input [form_group]="'name'" [form]="editForm" [label]="'Name (Ar)'"
						[form_control_name]="'ar'"></kt-form-input>
				</div>
			</div>


			<div class="btn float-right">
				<button class="action-btn d-flex justify-content-center align-items-center" type="button" mat-raised-button color="primary"
					[disabled]="btnLoading" (click)="submit()">
					<span *ngIf="!btnLoading">Update</span>
					<span *ngIf="btnLoading">
						<mat-spinner diameter="20"></mat-spinner>
					</span>
				</button>
			</div>
		</form>
	</div>

</div>
